
body{
    font-weight: 400;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    line-height: 2.2em;
    color: rgb(0, 0, 0);
}

h2{
    color: rgb(0, 0, 0);
    align-items: center;
}

table{
    width: 50%;
}

table td{
    color:aqua;
    padding: 5px;
}

table tr:nth-child(even){
    background-color: #7321d0;
}
table tr:nth-child(odd){
    background-color: #7321d0;
}
table thead th{
    background-color:rgba(22, 78, 168, 0.456);
    color: white;
}

